* {
    box-sizing: border-box;
}

body{

    background-image: url("./images2/background-img5.jpeg");
}
/*h1{
    background-image: url("./images2/background-img1.jpeg");
height:40px;

}
*/

nav li{
    display: inline;
    
    text-align: right; 
    text-decoration: underline;
}

nav{
    background-image: url("./images2/background-img2.jpeg"); 
    height:50px;
    text-align: right;
    
}
h1{
    text-align: left;
}

.my-photo img{  
    max-width: 40%;  
    height: auto;  
    }  

    .my-photo, .my-desc{
        display: inline-flex;
    }

    a{
        text-align: center;
        background-image: url("images2/background-img1.jpeg");
    }
    .about-me, .about-me-desc{
        display: inline-flex;
    }

    .work, .flex-container{
        display: inline-flex;
    }
.flex-container{
    display:inline-flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    align-items:baseline;
    flex-direction: row;
    width:70%;
    text-align: center;
}

.flex-container div{
    
    background-color: DodgerBlue;
    color: white;
    
    margin: 10px;
    text-align: center;
   
    font-size: 30px;
    align-items: stretch;
}

.class1{
flex: 8 0 1000px;
}
.class2{
flex: 0 0 200px;

}

.footer{
    display:inline;

}
.contact, .footer{


    display:inline-flex;
}

  
  